<div class="container">
  <div class="card card-container">
    <h1 class="mx-auto text-center mb-5">Sign In</h1>
    <img id="profile-img"
         class="profile-img-card"
         src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
         alt=""/>
    <p id="profile-name"
       class="profile-name-card"></p>
    <form class="form-signin" (ngSubmit) = 'signin()' action="">
      <input type="text"
             id="username"
             name="username"
             class="form-control"
             [(ngModel)] = "user.username"
             placeholder="Username"
             required autofocus
      >
      <input type="password"
             id="password"
             name="password"
             class="form-control"
             [(ngModel)] = "user.password"
             placeholder="Password"
      >
      <small
      ></small>

      <button
        class="btn btn-lg btn-primary btn-block btn-signing" type="submit">Sign in</button>

    </form>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->

